.btn {
  padding: 10px 16px;
  background-color: hsl(229, 96%, 64%);
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  font-weight: 600;
}
